ffmpeg-python
requests
python-dotenv
newspaper3k
openai
transformers
torch
sentencepiece
gTTS
tqdm
apscheduler
python-telegram-bot
langchain
tiktoken
faiss-cpu
lxml[html_clean]
langchain-text-splitters
langchain
langchain-community
langchain-openai
langchain-core
